<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangyicourse.mappers.CourseDetailsIconMapper">
  <resultMap id="BaseResultMap" type="com.wangyicourse.entity.CourseDetailsIcon">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="coursedetailsid" jdbcType="INTEGER" property="coursedetailsid" />
    <result column="coursedetailsiconsrc" jdbcType="VARCHAR" property="coursedetailsiconsrc" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, coursedetailsid, coursedetailsiconsrc
  </sql>
  <select id="selectByExample" parameterType="com.wangyicourse.entity.CourseDetailsIconExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from coursedetailsicon
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from coursedetailsicon
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from coursedetailsicon
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wangyicourse.entity.CourseDetailsIconExample">
    delete from coursedetailsicon
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wangyicourse.entity.CourseDetailsIcon">
    insert into coursedetailsicon (id, coursedetailsid, coursedetailsiconsrc
      )
    values (#{id,jdbcType=INTEGER}, #{coursedetailsid,jdbcType=INTEGER}, #{coursedetailsiconsrc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wangyicourse.entity.CourseDetailsIcon">
    insert into coursedetailsicon
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="coursedetailsid != null">
        coursedetailsid,
      </if>
      <if test="coursedetailsiconsrc != null">
        coursedetailsiconsrc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="coursedetailsid != null">
        #{coursedetailsid,jdbcType=INTEGER},
      </if>
      <if test="coursedetailsiconsrc != null">
        #{coursedetailsiconsrc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wangyicourse.entity.CourseDetailsIconExample" resultType="java.lang.Long">
    select count(*) from coursedetailsicon
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update coursedetailsicon
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.coursedetailsid != null">
        coursedetailsid = #{record.coursedetailsid,jdbcType=INTEGER},
      </if>
      <if test="record.coursedetailsiconsrc != null">
        coursedetailsiconsrc = #{record.coursedetailsiconsrc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update coursedetailsicon
    set id = #{record.id,jdbcType=INTEGER},
      coursedetailsid = #{record.coursedetailsid,jdbcType=INTEGER},
      coursedetailsiconsrc = #{record.coursedetailsiconsrc,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangyicourse.entity.CourseDetailsIcon">
    update coursedetailsicon
    <set>
      <if test="coursedetailsid != null">
        coursedetailsid = #{coursedetailsid,jdbcType=INTEGER},
      </if>
      <if test="coursedetailsiconsrc != null">
        coursedetailsiconsrc = #{coursedetailsiconsrc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangyicourse.entity.CourseDetailsIcon">
    update coursedetailsicon
    set coursedetailsid = #{coursedetailsid,jdbcType=INTEGER},
      coursedetailsiconsrc = #{coursedetailsiconsrc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>