<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangyicourse.mappers.PicturesMapper">
  <resultMap id="BaseResultMap" type="com.wangyicourse.entity.Pictures">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="pictureid" jdbcType="INTEGER" property="pictureid" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />
    <result column="page" jdbcType="VARCHAR" property="page" />
    <result column="des1" jdbcType="VARCHAR" property="des1" />
    <result column="des2" jdbcType="VARCHAR" property="des2" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, title, pictureid, picture, page, des1, des2
  </sql>
  <select id="selectByExample" parameterType="com.wangyicourse.entity.PicturesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pictures
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pictures
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pictures
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wangyicourse.entity.PicturesExample">
    delete from pictures
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wangyicourse.entity.Pictures">
    insert into pictures (id, title, pictureid, 
      picture, page, des1, 
      des2)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{pictureid,jdbcType=INTEGER}, 
      #{picture,jdbcType=VARCHAR}, #{page,jdbcType=VARCHAR}, #{des1,jdbcType=VARCHAR}, 
      #{des2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wangyicourse.entity.Pictures">
    insert into pictures
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="pictureid != null">
        pictureid,
      </if>
      <if test="picture != null">
        picture,
      </if>
      <if test="page != null">
        page,
      </if>
      <if test="des1 != null">
        des1,
      </if>
      <if test="des2 != null">
        des2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="pictureid != null">
        #{pictureid,jdbcType=INTEGER},
      </if>
      <if test="picture != null">
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="page != null">
        #{page,jdbcType=VARCHAR},
      </if>
      <if test="des1 != null">
        #{des1,jdbcType=VARCHAR},
      </if>
      <if test="des2 != null">
        #{des2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wangyicourse.entity.PicturesExample" resultType="java.lang.Long">
    select count(*) from pictures
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pictures
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.pictureid != null">
        pictureid = #{record.pictureid,jdbcType=INTEGER},
      </if>
      <if test="record.picture != null">
        picture = #{record.picture,jdbcType=VARCHAR},
      </if>
      <if test="record.page != null">
        page = #{record.page,jdbcType=VARCHAR},
      </if>
      <if test="record.des1 != null">
        des1 = #{record.des1,jdbcType=VARCHAR},
      </if>
      <if test="record.des2 != null">
        des2 = #{record.des2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pictures
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      pictureid = #{record.pictureid,jdbcType=INTEGER},
      picture = #{record.picture,jdbcType=VARCHAR},
      page = #{record.page,jdbcType=VARCHAR},
      des1 = #{record.des1,jdbcType=VARCHAR},
      des2 = #{record.des2,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wangyicourse.entity.Pictures">
    update pictures
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="pictureid != null">
        pictureid = #{pictureid,jdbcType=INTEGER},
      </if>
      <if test="picture != null">
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="page != null">
        page = #{page,jdbcType=VARCHAR},
      </if>
      <if test="des1 != null">
        des1 = #{des1,jdbcType=VARCHAR},
      </if>
      <if test="des2 != null">
        des2 = #{des2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wangyicourse.entity.Pictures">
    update pictures
    set title = #{title,jdbcType=VARCHAR},
      pictureid = #{pictureid,jdbcType=INTEGER},
      picture = #{picture,jdbcType=VARCHAR},
      page = #{page,jdbcType=VARCHAR},
      des1 = #{des1,jdbcType=VARCHAR},
      des2 = #{des2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>